.mainmenu {
  font-family: "Righteous", cursive;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 45%;
  width: 40%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/ui/mainmenubg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease-out;
}
.mainmenu div {
    margin-top: 12%;
  opacity: 1;
  height: 60%;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mainmenu-button {
    margin: 1rem;
  background-color: #2c2f42;
  color: #ffffff;
  font-family: "Righteous", cursive;
  width: 65%;
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 0.5rem;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px #000000;
  transition: all 200ms ease;
  background-color: #1e1f2c;
  cursor: pointer;
}
.mainmenu-button:active {
  transform: scale(0.96);
  
}
.mainmenu-button:hover {
  background-color: #2a2b3d;
  cursor: pointer;
}

.titleImg {
  position: absolute;
  left: 50%;
  top: 13%;
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
}
@media (max-width: 950px) {
    .mainmenu {
        width: 55%;
        top:50%;
      }
    .mainmenu-button {
        margin: .5rem;
        font-size: .9rem;
    } 
    .titleImg {
        position: absolute;
        left: 50%;
        top: 12%;
        width: 25%;
        height: auto;
        transform: translate(-50%, -50%);
      }



}