.menu {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top:40%;
    width: 35%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/ui/Rectangle11.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center center;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 250ms ease-out;
    
    
}
.menu div {
    opacity: 1;
    height: 40%;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.menu h1 {
    font-family: 'Righteous', cursive;
    margin-bottom: 7%;
    margin-top: 10%;
    color:rgba(255, 255, 255, 1);
    opacity: 1;
    font-size: 3rem;
    transition: all 100ms ease;
}
.menu-button {
    margin-top: 12%;
    background-color: #2C2F42;
    color:  #ffffff;
    font-family: 'Righteous', cursive;
    width: 65%;
    border: none;
    border-radius: 1rem;
    padding: .4rem .5rem;
    font-size: 1.3rem;
    box-shadow: 2px 2px 4px #000000;
    transition: all 200ms ease;
    
}
.menu-button:hover {
    background-color: #1e1f2c;
    cursor: pointer;
}
.menu-button:active {
    transform: scale(0.96);
    
}

.menu.closed {
    position: absolute;
    border-radius: .5rem;
    cursor: pointer;
    background-image: url("/assets/ui/Group 14.png");
    background-size: 2.8rem 2.8rem;
    background-repeat:no-repeat;
    background-position: center center;
    left: 97%;
    top:5%;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 2px 2px 4px #000000;
}

.menu.closed >* {
    visibility: hidden;
} 
.menu.closed .menu-button {
    font-size: 0px;
    color:rgba(255, 255, 255, 0)

} 
.menu.closed .menu h1 {
    font-size: 1px;
    opacity: 0;
    color:rgba(255, 255, 255, 0)
} 

@media (max-width: 900px) {
    .menu-button {
        font-size: .7rem;
    } 
    .menu h1 {
        font-size: 1rem;
        margin-bottom: 10%;
    }

}