*, *:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;;
}
body {
    height: 100%;
    width: 100vw;
}
#app {
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
}
.background {
    background-size: cover;
    background-position: center;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    transition: 300ms;
    position: relative;
}

.standard-button {
    background-color: rgb(40, 40, 119);
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .3rem .3rem;
    font-size: 1rem;
    text-transform:capitalize;
    font-family: 'Titillium Web', sans-serif;
    transition: 200ms;   
}

.standard-button:hover {
    background-color: rgb(89, 89, 177);
    cursor: pointer;
}

.choice-button {
    background-color: rgb(122, 20, 68);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: .2rem;
    padding: .3rem .3rem;
    font-size: 1rem;
    text-transform:none;
    font-family: 'Titillium Web', sans-serif;
    transition: 200ms;
}
.choice-button:hover {
    background-color: rgb(163, 41, 98);;
    cursor: pointer;
}

@media (max-width: 700px) {
    .choice-button {
        font-size: .7rem;
    }
    .standard-button {
        font-size: .7rem;
    }

    
}

