*, *:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    
}
body {
    height: 100%;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
#app {
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
}
.background {
    background-size: cover;
    background-position: center;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    transition: 300ms;
    position: relative;
}

.standard-button {
    background-color: rgb(102, 43, 56);
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .3rem .3rem;
    font-size: 1rem;
    text-transform:capitalize;
    font-family: 'Titillium Web', sans-serif;
    transition: 200ms;   
}

.standard-button:hover {
    background-color: rgb(85, 32, 44);
    cursor: pointer;
}

.choice-button {
    background-color: rgb(64, 71, 134);
    color: rgb(248, 248, 248);
    border: none;
    border-radius: .2rem;
    padding: .3rem .3rem;
    font-size: 1rem;
    text-transform:none;
    font-family: 'Titillium Web', sans-serif;
    transition: 200ms;
}
.choice-button:hover {
    background-color: rgb(36, 40, 82);
    cursor: pointer;
}

.menu-button {
    background-color: rgb(69, 201, 179);
    color: rgb(56, 52, 52);
    border: none;
    border-radius: .2rem;
    padding: .3rem .3rem;
    font-size: 1rem;
    text-transform:none;
    font-family: 'Titillium Web', sans-serif;
    transition: 200ms;
}
.choice-button:hover {
    background-color: rgb(36, 40, 82);
    cursor: pointer;
}

.text-bubble {
    background-color: rgba(61, 55, 112, 0.7);
    border-radius: .5rem;
    border: 2px solid rgb(23, 23, 63);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    padding: .9rem;
}


@media (max-width: 800px) {
    .choice-button {
        font-size: .7rem;
    }
    .standard-button {
        font-size: .7rem;
    }  
    .text-bubble {
        font-size: .7rem;
        padding: .2rem;
    }
}

